*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
    
}

body {

    background-image: url(../assets/imgsW/afterlife.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header */
.header{
    width: 100%;
    height: 30vh;
    background-position: center;
    
}

.active{
    font-weight: 600;
}

nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: transparent;
    
}

.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
    color: white;
    background: transparent;
}

nav ul {
    background: transparent;
    width: 100%;
    margin-top: 10px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;
    background: transparent;
    
}

nav ul li:hover{
    background: #e5e5e520;
    width: 5rem;
    border-radius: 1rem;
    /* color: #000; */
    font-size: 1.2rem;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    background: transparent;
    color: #fff;
}
.text {
    padding: 20px 8%;
}

nav.sticky{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    padding: 0.2rem 8%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

nav.sticky ul {
    width: auto;
}

/* FIM HEADER */

/* conteúdo index  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    
}


.bloco h2 {
    color: #fff;
    margin-left: 45%;
    margin-bottom: 2%;
}

.bloco {
    height: 550px;
    background: rgba(0, 0, 0, 0.829);
    border-radius: 15px;
    padding: 20px;
}



.container {
    display: flex;
   
    align-items: center;
    justify-content: center;
    height: 550px;
}

.content div {
    height: 30vh;
    width: 67vw;
    margin-top: 30px;
}

.texto  {
    color: #fff;
    font-size: 19px;
    padding: 10px;
}

.texto  a {
    /* text-decoration: none; */
    color: #fff;
}

/* FIM INDEX  */

/* cadastro */

.banner-cadastro {
    display: flex;
    background: transparent;
    color: #fff;
     text-align: center; 
    align-items: center;
    
    
}

#form_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .bloco-medio  h2 {
    font-size: 2.3rem;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* FIM CADASTRO */

/* LOGIN */
.banner-login .container {
    height: 550px;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-login {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .card-medio {
    background-color: #000;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 20px;
    padding: 20px;
}

 .formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.login {

    margin-bottom: 20px;
}

.login input {
    height: 30px;
    padding: 10px;
    border-radius: 8px;
}

.btn-login {
    display: flex;
    justify-content: center;
   
    
}

.btn-login button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.banner-login a {
    color: white;
    text-decoration: none;
}

.banner-login #div_erros_login {
    margin-top: 15px;
}

button {
    cursor: pointer;
}

.imgDJ {
    width: 40vw;
    border-radius: 5px;
}

/* FIM LOGIN */

/* rodapé */

.footer {
    margin-top: 235px;
    background-color: #000;
    height: 50px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .containerFooter {
    display: flex;
    justify-content: center;
}
