*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
    
}

body {

    background-image: url(../assets/imgsW/Afterlife3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header */
.header{
    width: 100%;
    height: 30vh;
    background-position: center;
    
}

.active{
    font-weight: 600;
}

nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: transparent;
    
}

.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
    color: white;
    background: transparent;
}

nav ul {
    background: transparent;
    width: 100%;
    margin-top: 10px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;
    background: transparent;
    
}

nav ul li:hover{
    background: rgba(0, 0, 0, 0.829);
    padding: 5px;
    width: 10%;
    border-radius: 1rem;
    /* color: #000; */
    font-size: 1.2rem;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    background: transparent;
    color: #fff;
}
.text {
    padding: 20px 8%;
}

nav.sticky{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    padding: 0.2rem 8%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

nav.sticky ul {
    width: auto;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}

.hello h3 span {
    color: #fff;
    font-weight: 800;
}


.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.publicacao {
    margin-top: 200px;
    height: 60vh;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 3px solid #E6005A; */
    padding: 20px;
    color: #fff;
}

.btn-user {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    /* margin-bottom: 20px; */
    background: #000000;
    border-radius: 50px;
    border: none;
    /* padding: 25px; */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.imgDJ {
    width: 35vw;
}


.linkSpotify {
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    background: #32cd32;
    border-radius: 50px;
    border: none;
    padding: 20px;
    
    
}

.linkSpotify a {
    text-decoration: none;
    color: #000;
    font-weight:700;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    /* padding: 10px; */
}

.publicacao>*:not(:last-child) {
    padding: 0 0 10px 0;
}


.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.div-buttons>* {
    margin-left: 30px
}

/* pagina graficos */



.dashDJS {
    width: 30%;
    
    margin-top: ;
    background-color: #161618;
    padding: 20px;
    margin-top: 20px;

    /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
    height: 100vh; 
}











.btns-dash{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.graph{
    width: 80%;
    margin: auto;
    padding-top: 45px;
}

.btn-chart{
    font-family: 'Exo 2', sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #E6005A;
    margin: 5px;
}

.qtdUsuarios {
    height: 40px;
    font-size: 25px;
    color: #fff;
}

.footer {
    margin-top: 235px;
    background-color: #000;
    height: 50px;
    width: 100%;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer .containerFooter {
    display: flex;
    justify-content: center;
}
